<div class="modern-empty-state">
  <div class="empty-content">
    <!-- Custom Content -->
    <ng-container *ngIf="customContent; else defaultContent">
      <ng-container *ngTemplateOutlet="customContent"></ng-container>
    </ng-container>

    <!-- Default Content -->
    <ng-template #defaultContent>
      <mat-icon 
        [svgIcon]="icon.startsWith('heroicons') ? icon : null"
        [class]="iconSizeClass"
        class="empty-icon">
        {{ icon.startsWith('heroicons') ? '' : icon }}
      </mat-icon>
      
      <h2 class="empty-title">{{ title }}</h2>
      
      <p class="empty-description" *ngIf="description">{{ description }}</p>
      
      <button
        *ngIf="showAction && actionLabel"
        mat-flat-button
        [color]="actionColor"
        (click)="onActionClick()"
        class="modern-btn btn-primary empty-action">
        <mat-icon>add</mat-icon>
        <span>{{ actionLabel }}</span>
      </button>
    </ng-template>
  </div>
</div>

